@font-face {
  font-family: "Karla Bold";
  src: url("/assets/fonts/Karla-Bold.woff2") format("woff2"),
    url("/assets/fonts/Karla-Bold.woff") format("woff"),
    url("/assets/fonts/Karla-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Karla";
  src: url("/assets/fonts/Karla-Regular.woff2") format("woff2"),
    url("/assets/fonts/Karla-Regular.woff") format("woff"),
    url("/assets/fonts/Karla-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
