.ff-hero {
  font-family: var(--fontHeaderFamily);
}
.ff-head, strong {
  font-family: var(--fontBoldFamily);
}

a.no-bg {
  background-position: unset;
  // &:hover {
  //   background-position: unset;
  // }
}

h1 {
  font-size: 2.75rem;
  font-weight: bolder;
  line-height: 1.4;
  margin-top: 44px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.75;
}


h3 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.75;
}


p,
div,
li {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--textColor)
}
.small-text {
  font-size: 1.25rem;
}
pre {
  font-family: var(--monoFontFamily);
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--linkColor);

  background-image: linear-gradient(to top, var(--linkColor) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: -2px -2px;
  transition: background-position 0.25s ease;
  color: var(--linkColor);

  &:hover {
    background-position: bottom;
    color: var(--linkHoverColor);
  }
}


ol,
ul {
  margin-bottom: 1.75rem;
}

strong {
  font-weight: 600;
  text-transform: uppercase;
}


