@import './var';
@import './grid';
@import './typography';
@import './utils';
@import "./pages/index";

* {
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: var(--bodyBackground);
  color: var(--bodyColor);
  font-family: var(--fontFamily);
}

.logo {
  cursor: pointer;
}

.social-icon-wrapper {
  img {
    cursor: pointer;
    width: 2.0rem;
    margin: 1.0rem 1.2rem 2.0rem 0;
  }
}
