@import './font';
// @import './var';
// @import './grid';
// @import './typography';
// @import './utils';
@import "./pages/index";

* {
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
