@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');

@import "./pages/index";

* {
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


main {
  margin-top: 100px;
}
