.footer-img {
  cursor: pointer;
  width: 2.8rem;
  opacity: 0.65;
  transition: all 0.25s linear;



  &:hover {
    opacity: 1;
  }
}

.chakra-ui-dark .footer-img,
.chakra-ui-dark .work-lock-icon {
  opacity: 0.55;
  filter: invert(1);
}

.chakra-ui-dark .external-tools-icon {
  filter: invert(1);
}
