.header-background {
  backdrop-filter: saturate(180%) blur(50px);
  position: fixed;
  margin: 0 auto;
  right: 0;
  left: 0;
  max-width: var(--chakra-sizes-container-xl);

  .logo,
  .chakra-text {
    cursor: pointer;
  }

  .logo {
    opacity: 0.75;
    transition: opacity 0.5s ease-in-out;

    @media screen and (prefers-color-scheme: dark) {
      filter: invert(1);
    }

    &:hover {
      opacity: 1.0;
    }
  }
}
