.medium-zoom-image--opened {
  z-index: 100000;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 10000;
}

.markdown-content {
  blockquote {
    color: var(--chakra-colors-gray-600);
    border-radius: 10px;

    margin-top: var(--chakra-space-4);
    margin-bottom: var(--chakra-space-8);

    font-size: var(--chakra-fontSizes-3xl);
    line-height: var(--chakra-lineHeights-tall);
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    color: var(--chakra-colors-gray-600);
  }

  h1 {
    font-size: var(--chakra-fontSizes-4xl);
  }

  h2 {
    font-size: var(--chakra-fontSizes-3xl);
  }

  h3 {
    font-size: var(--chakra-fontSizes-2xl);
    color: var(--chakra-colors-gray-500);
  }

  p,
  figure {
    display: block;
    // margin-top: 0;
    // padding-top: 0;
    // margin-bottom: 2.0rem;
    margin-top: var(--chakra-space-1);
    margin-bottom: var(--chakra-space-8);

    figcaption {
      text-align: center;
    }
  }

  ol,
  ul {
    list-style-type: initial;
    margin-left: 1em;
    margin-top: var(--chakra-space-4);
    font-size: var(--chakra-fontSizes-2xl);
    line-height: var(--chakra-lineHeights-tall);
  }


  img {
    cursor: zoom;
  }
}

.vhp-markdown-gallery p {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
  grid-template-areas:
    ". ."
    ". .";
}

.work-full-img img {
  display: block;
  margin: 2.0rem 10px;
}

.work-img-border img {
  border: 1px solid rgba(0, 0, 0, 0.075);
  border-radius: 10px;
}
